*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background */
.container {
    display: flex;
    height: 100vh;
    width: 100;
    background: url(st-woods3.png);
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* login form, inputs, buton */
.login-form {
    display: flex;
    background-color: #bdbdbd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 1px 1px #fff, 1px 1px #000;
    width: 500px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.input-fields {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 50px;
    text-align: left;
}
#submit {
   margin-top: 15px;
   padding: 10px 90px;
   box-shadow: inset 1px 1px #fff, 1px 1px #000;
   background-color: #bdbdbd;
}
#submit:hover {
    transform: scale(1.1);
}
h1 {
    font-size: 60px;
    background: linear-gradient(90deg, hsla(240, 100%, 25%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    width: 500px;
    color: #fff;
}
label {
    display: block;
    text-align: left;
}
.rememberMe {
    display: inline;
    padding-left: 5px;
}
/* responsive flexbox code */
@media (max-width: 900px) {
    .login-form {
      max-width: 300px;
      max-height: 500px;
    }
    h1 {
        width: 300px;
        font-size: 40px;
    }
    #submit {
        margin-top: 10px;
        padding: 6px 60px;
        box-shadow: inset 1px 1px #fff, 1px 1px #000;
        background-color: #bdbdbd;
    }
    .logo {
        height: 150px;
    }
  }
/* start of coding for snow animation sourced from https://www.youtube.com/watch?v=IxG5cQCIVE8 by Invention Tricks */
.snow, .snow::after, .snow::before {
    content: "";
    position:absolute;
    top: -650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 450px, #fff, transparent),
    radial-gradient(3px 3px at 500px 100px, #fff, transparent),
    radial-gradient(4px 4px at 50px 200px, #fff, transparent),
    radial-gradient(5px 5px at 150px 300px, #fff, transparent),
    radial-gradient(3px 3px at 250px 400px, #fff, transparent),
    radial-gradient(5px 5px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;

    animation: snowAnim 10s linear;
    animation-iteration-count: infinite;
}
.snow::after {
    margin-left: -250px;
    opacity: .5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 6s;
}
.snow::after {
    margin-left: -250px;
    opacity: .7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 9s;
}
@keyframes snowAnim {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(650px);
    }
}
.snow {
    z-index: -1;
}